.App {
    display: flex;

    min-height: calc(100vh);
}

.filter-block {
    width: 750px;

    display: flex;
    flex-wrap: wrap;

    padding-left: 115px;
    padding-top: 115px;
    margin-bottom: auto;
}
.filter-block-header {
    width: 100%;
    font-size: 50px;

    margin-bottom: 38px;
}

.selector-block {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    margin-bottom: 34px;
}
.selector-header {
    width: 100%;
    font-size: 24px;
}
.selector-wrapper {
    margin-top: 10px;
}

.tasks-block {
    width: 100%;

    background-color: #D4F2EF;

    padding-top: 40px;
}
.task-block {
    display: flex;

    padding: 20px;
    margin: 7px 40px 7px 40px;
    border-radius: 20px;

    background-color: white;
}
.task-description {
    margin-left: 15px;
}
