.App {

}

.navbar {
    max-height: 50px;
}
/* нижняя рамка для навигационной панели */
.navbar:before {
    content : "";
    position: absolute;
    left    : calc(50% - 200px);
    bottom  : 0;
    height  : 1px;
    width   : 400px;
    margin  : 0 auto;
    border-bottom: 1px rgba(0, 0, 0, .5) solid;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.TaskListPage {
    display: flex;

    min-height: calc(100vh);
}

.filter-form-block {
    width: 900px;

    display: flex;
    flex-wrap: wrap;

    padding-top: 40px;
    padding-left: 115px;
    padding-right: 115px;
    margin-bottom: auto;
}
.filter-block-header {
    width: 100%;
    font-size: 50px;

    margin-bottom: 38px;
}

.selector-block {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    margin-left: 15px;
    margin-bottom: 34px;
}
.selector-header {
    width: 100%;
    font-size: 24px;
}
.selector-wrapper {
    width: 200px;

    margin-top: 10px;
}
.selectors-group {
    display: flex;
}

.task-list-block {
    width: 100%;

    background-color: #D4F2EF;

    padding-top: 40px;
}

.task-block {
    position: relative;
    display: flex;

    flex-wrap: wrap;

    width: 450px;

    align-content: space-between;

    padding: 9px 14px 14px 14px;
    margin: 4px auto;
    border-radius: 20px;

    background-color: white;
}
.task-check {
    display: flex;

    width: 14px;
}
.task-info {
    display: flex;

    width: 100%;
    align-content: center;
    align-items: center;
}
.task-priority,
.task-category {
    border-radius: 50px;

    height: 20px;

    padding-left: 16px;
    padding-right: 16px;

    text-align: center;
    font-size: 12px;
}
.task-priority,
.task-category {
    border: 1px rgba(0, 0, 0, .2) solid;

    line-height: 18px;

    margin-left: 12px;
}
.task-planned-time {
    margin-left: auto;
    margin-right: 12px;

    font-size: 14px;
}
.task-planned-date {
    margin-right: 0;

    font-size: 14px;
}
.task-description {
    margin-top: 12px;
}
.task-edit-button {
    width:  60px;
    height: 20px;

    margin-left: 12px;

    background-color: rgba(0, 0, 0, .05) !important;

    color: black !important;
    font-size: 12px !important;
    line-height: 6px !important;

    border-radius: 20px !important;
    border: none !important;
}

.add-task-button,
.add-category-button,
.task-done-button,
.task-remove-button {
    position: fixed;

    width:  60px;

    color: black !important;

    border-color: white !important;
    background-color: white !important;

    box-shadow: 0 0 30px rgba(0, 0, 0, .07);
}
.add-task-button,
.add-category-button {
    height: 60px;

    right: 150px;
    bottom: 120px;

    font-size: 40px !important;
    font-weight: bold !important;

    border-radius: 100px !important;
}
.task-done-button,
.task-remove-button {
    height: 30px;

    font-size: 10px !important;

    border-radius: 20px !important;
}
.task-done-button {
    right: 150px;
    bottom: 80px;
}
.task-remove-button {
    right: 150px;
    bottom: 40px;
}

.plus-sign {
    display: flex;

    top: -4px;
    left: 15px;
    position: absolute;
}

.add-task-inputs-wrap {
    padding: 10px;
}
.task-textarea-wrap {

}
.modal-selectors-group-wrap {
    display: flex;
}
.modal-selector-block {
    margin-top: 20px;

    width: 100%;
    margin-right: 20px;
}
.modal-selector-header {
}
.modal-selector-wrapper {
    display: flex;

}
.modal-priority-selector-wrapper {
    display: flex;
    width: 170px;
}

/* Страница управления категориями */
.CategoryListPage {
    /*display: flex;*/
    /*flex-wrap: wrap;*/

    background-color: #D4F2EF;

    min-height: calc(100vh);
}
.category-list-header-wrapper {
    display: flex;
    position: relative;

    width: 450px;

    margin-left: auto;
    margin-right: auto;
}
.category-list-header {
    font-size: 50px;

    text-align: center;

    margin: 38px auto;
}
.category-list-block {
    margin-left: auto;
    margin-right: auto;
}
.category-block {
    position: relative;
    display: flex;

    flex-wrap: wrap;

    width: 450px;

    align-items: center;
    align-content: space-between;

    padding: 14px;
    margin: 4px auto;
    border-radius: 20px;

    background-color: white;
}
.category-edit-button,
.category-remove-button,
.category-archive-page-button,
.category-to-archive-button {
    height: 20px;

    padding: 0 15px;

    color: black !important;
    font-size: 12px !important;
    line-height: 6px !important;

    border-radius: 20px !important;
    border: none !important;
}
.category-edit-button {
    margin-left: auto;

    background-color: rgba(0, 0, 0, .05) !important;
}
.category-to-archive-button {
    margin-left: 12px;

    background-color: rgba(0, 0, 0, .1) !important;
}
.category-remove-button {
    margin-left: 12px;

    background-color: rgba(255, 0, 0, .1) !important;
}
.category-archive-page-button {
    position: absolute;

    bottom: 10px;
    right: 20px;

    background-color: rgba(255, 255, 255, 1) !important;
}
