.App {

}

.navbar {
    max-height: 50px;
}
/* нижняя рамка для навигационной панели */
.navbar:before {
    content : "";
    position: absolute;
    left    : calc(50% - 200px);
    bottom  : 0;
    height  : 1px;
    width   : 400px;
    margin  : 0 auto;
    border-bottom: 1px rgba(0, 0, 0, .5) solid;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}
.navbar-spinner {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
}

.functional-block-wrap {
    /*width: 900px;*/

    display: flex;
    flex-wrap: wrap;

    padding: 20px 115px;
}
.functional-buttons-wrap {
    margin-left: auto;
}
.selector-wrap {
    display: flex;

    align-items: center;
}
.selector-wrap + .selector-wrap {
    margin-left: 20px;
}
.selector-header {
    margin-right: 20px;

    font-size: 16px;
}
.selector-wrapper {
    width: 200px;
}
.selectors-group {
    display: flex;
}

.task-list-wrap {
    display: flex;

    min-width: 100%;
    width: fit-content;

    padding: 0 60px 60px 60px;
}
.priority-task-block + .priority-task-block {
    margin-left: 15px;
}
.priority-task-block {
    border-radius: 5px;
    padding: 10px 5px;

    background-color: #F4F5F7;
}
.priority-task-block-header {
    margin-left: 10px;
    margin-bottom: 20px;

    opacity: .7;
}
.add-task-button {
    margin-top: 5px;
}
.task-components-spinner-wrap {
    text-align: center;
    margin-top: 30px;
}
.task-component-blocks-wrap {
    display: flex;
    flex-wrap: nowrap;

    margin-left: auto;
    margin-right: auto;
}
.task-block {
    position: relative;

    width: 300px;

    align-content: space-between;

    padding: 9px 14px 14px 14px;
    margin: 4px auto;
    border-radius: 5px;

    background-color: white;
}
.task-buttons {
    display: flex;

    width: 20px;

    flex-wrap: wrap;

    align-content: center;
    align-items: center;
}
.task-priority,
.task-category {
    border-radius: 50px;

    height: 20px;

    padding-left: 16px;
    padding-right: 16px;

    text-align: center;
    font-size: 12px;
}
.task-priority,
.task-category {
    border: 1px rgba(0, 0, 0, .2) solid;

    line-height: 18px;

    margin-left: 12px;
}
.task-planned-date-time-wrap {
    padding-left: 12px;
    padding-right: 12px;

    display: flex;

    border-radius: 20px;
}
.task-planned-time {
    margin-right: 12px;

    font-size: 14px;
}
.task-planned-date {
    font-size: 14px;
}
.task-description-buttons-wrap {
    display: flex;
    flex-wrap: nowrap;
}
.task-description {
    width: 100%;

    margin-top: 10px;
    margin-bottom: 12px;
}
.task-ellipsis-button,
.task-edit-button {
    min-width:  30px;
    height: 30px;

    padding: 5px !important;

    background-color: rgba(0, 0, 0, .0) !important;

    color: black !important;
    font-size: 12px !important;
    line-height: 6px !important;

    border-radius: 5px !important;
    border: none !important;

    transition: .1s ease !important;
}
.task-ellipsis-button + .task-edit-button {
    margin-top: 10px;
}
.task-ellipsis-button:hover,
.task-edit-button:hover {
    background-color: #e5e5e5 !important;
}
.task-ellipsis-button:focus {
    background-color: #6c6c6c !important;
}
.task-remove-button {
    position: relative;

    padding: 0 !important;

    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
}
.task-overdue {
    background-color: rgb(255, 229, 229);
}
.task-done {
    /*background-color: whitesmoke;*/
}
.task-footer-wrap {
    display: flex;
}

.functional-button + .functional-button {
    margin-left: 15px;
}

.task-ellipsis-icon {
    width: 15px;
    height: 15px;

    opacity: .7;
}
.task-edit-icon,
.category-edit-icon {
    width: 20px;
    height: 20px;

    opacity: .8;

    transition: .4s ease;
}
.task-remove-icon,
.category-remove-icon {
    width: 30px;
    height: 30px;

    margin-top: -4px;

    opacity: .8;

    transition: .4s ease;
}
.category-move-to-recently-deleted-icon,
.category-recover-from-recently-deleted-icon {
    width: 18px;
    height: 18px;

    opacity: .8;

    transition: .4s ease;
}
.category-edit-icon:hover,
.category-remove-icon:hover,
.category-move-to-recently-deleted-icon:hover,
.category-recover-from-recently-deleted-icon:hover {
    transform: scale(1.2);
}

.task-modal-priority-wrap {
    padding: 10px;
    opacity: .7;
}
.add-task-inputs-wrap {
    padding: 10px;
}
.task-textarea-wrap {

}
.modal-selectors-group-wrap {
    display: flex;
}
.modal-selector-block {
    margin-top: 20px;

    width: 100%;
    margin-right: 20px;
}
.modal-selector-header {
}
.modal-selector-wrapper {
    display: flex;

}
.modal-priority-selector-wrapper {
    display: flex;
    width: 170px;
}

/* Страница управления категориями */
.category-list-header-wrapper {
    display: flex;
    position: relative;

    width: 450px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.category-list-header {
    font-size: 24px;

    width: 100%;

    text-align: center;
}
.category-list-block {
    width: 450px;

    margin-top: 20px;

    padding: 10px 5px;
    background-color: #F4F5F7;

    margin-left: auto;
    margin-right: auto;

    border-radius: 5px;
}
.category-list-spinner-wrap {
    margin-top: 15px;
    text-align: center;
}
.category-block {
    position: relative;
    display: flex;

    flex-wrap: wrap;

    align-items: center;
    align-content: space-between;

    padding: 14px;
    margin: 4px auto;
    border-radius: 5px;

    background-color: white;
}
.category-edit-button,
.category-remove-button,
.category-recently-deleted-page-button,
.category-move-to-recently-deleted-button,
.category-recover-from-recently-deleted-button {
    height: 20px;

    padding: 0 15px;

    color: black !important;
    font-size: 12px !important;
    line-height: 6px !important;

    border-radius: 20px !important;
    border: none !important;
}
.category-edit-button {
    margin-left: auto;
    padding: 0 !important;

    background-color: rgba(0, 0, 0, 0) !important;
}
.category-move-to-recently-deleted-button,
.category-recover-from-recently-deleted-button,
.category-remove-button {
    position: relative;

    margin-left: 12px;
    padding: 0 !important;

    background-color: rgba(0, 0, 0, 0) !important;
}
.category-recently-deleted-page-button {
    position: absolute;

    bottom: 5px;
    right: 20px;

    background-color: rgba(255, 255, 255, 1) !important;
}
.add-category-button {
    margin-top: 10px;
}

.empty-task-list-label,
.empty-list-label {
    position: relative;
    text-align: center;

    padding: 10px;
    margin: 4px auto;

    background-color: white;
}
.empty-list-label {
    width: 100%;

    border-radius: 5px;
}
.empty-task-list-label {
    width: 300px;
}

.loading-page-wrap {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
}
.loading-page-spinner-wrap {
    margin: 100px auto auto auto;
    text-align: center;
}


.not-found-page-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    z-index: 1;
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    overflow: hidden;
}
.not-found-page-text-wrap {
    text-align: center;
    padding-top: 118px;
    color: #cdd4de;
}
.not-found-page-text-wrap h1 {
    font-weight: 900;
    font-size: 165px;
    line-height: 1;
    margin-bottom: -10px;
    opacity: 0.6;
}
.not-found-page-text-wrap h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 6px;
    opacity: 0.9;
}
.not-found-back-to-home-link {
    display: inline-block;
    margin-top: 100px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #6c6c6c;
    padding: 8px 14px;
    border-radius: 4px;
    opacity: 0.4;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* fix date/time-picker button size */
.input-group-text {
    height: 100%;
}
.input-group-text:hover {
    cursor: pointer;
}

.sign-form-profile-icon {
    width: 80px;
    height: 80px;

    opacity: .5;
    margin-bottom: 30px;
}
.sign-form-wrap {
    width: 420px;

    margin: 60px auto;

    padding: 60px;
    box-shadow: 0 3px 50px 0 rgba(0,0,0,.1);
    text-align: center;
    border-radius: 5px
}
.sign-form-header-wrap {
    margin-bottom: 40px;
}
.sign-from-fa-input-icon-wrap {
    width: 40px;
    height: 38px !important;
}
.sign-from-fa-lock-icon {
    text-align: center;
    line-height: 1.5 !important;
    opacity: .7;
}
.sign-form-login-label-icon {
    width: 15px;
    height: 16px;
}

.profile-page-wrap {
    width: 420px;

    margin: 60px auto;

    padding: 60px;
    box-shadow: 0 3px 50px 0 rgba(0,0,0,.1);
    text-align: center;
    border-radius: 5px
}


/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown-show {
    display: block !important;
}

.show {
    display: block !important;
}
